.form-title {
  margin-bottom: 15px;
}

.container {
  display: flex;
}

.col {
  flex: 1;
}

.table {
  max-height: 400px;
  overflow: auto;
}

.row {
  margin-bottom: 20px;
}

.posts {
  width: 100%;
   .tr:nth-child(odd){
    background: rgba(212, 212, 212, 0.62);
  }
}

.blog-textarea {
  width: 80%;
  height: 165px;
  border-radius: 5px;
  background: #fff;
  padding: 7px;
  border: 0 none;
}
